<h1>{{app.title}} installation complete!</h1>

<p>Congratulations, you've just completed your DEBT installation.</p>
<p>Your user, {{activeUser.username}}, has been created and granted administrative privileges.</p>
